<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <br>
        <a href="{% url 'about' %}">About</a>
        <br>
        <a href="{% url 'inspiring_message' %}">Inspiring Message</a>
        <br>
        <a href="{% url 'math_square' num=2 %}">Two Squared</a>
    </nav>

    <div id="main-container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>