{% extends 'auth_app/base.html' %}

{% block content %}

<h1>Profile</h1>

<p>{{ request.user.username }}</p>
<p>{{ request.user.email }}</p>
<p>Age: {{ request.user.profile.age }}</p>
<p>Bio: {{ request.user.profile.bio }}</p>
<p>Location: {{ request.user.profile.location }}</p>
<img src="{{ request.user.profile.profile_photo.url }}" alt="{{ request.user.profile.profile_photo }}">

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Edit">

</form>

{% endblock %}